/* Establece un diseño básico para asegurar que el cuerpo ocupe el 100% del alto y ancho */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* El contenedor del marcador A-Frame (esto ocupa todo el espacio disponible) */
#mov {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Asegura que la escena A-Frame también ocupe todo el espacio disponible */
a-scene {
  width: 100%;
  height: 100%;
}

/* Media queries para ajustar la escena en pantallas más pequeñas */
@media (max-width: 768px) {
  a-scene {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 480px) {
  /* Si la pantalla es aún más pequeña, podrías ajustar más el tamaño de los objetos */
  a-scene {
    width: 100%;
    height: 100%;
  }

  .rotating-entity {
    scale: 2 2 2; /* Reducir el tamaño de los objetos en pantallas más pequeñas */
  }
}
